*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

body{
    height: 100%;
    min-height: 100vh;
}

 #nav-bar{
    height: 80px;
    font-size: 1.2rem;
    background: rgb(231, 243, 253);
    
}

nav .navbar-brand{
    font-size: 1.5rem;
}


#navbarNavAltMarkup{
    display: flexbox;
    justify-content: center !important;
    font-size: 1.2rem;
}
#navbarNavAltMarkup a{
    margin: 0 30px;
}



nav .icons{
    display: flex;
    margin-right: 10px;
    border: 1px solid rgb(82, 82, 82);
    padding: 10px;
    border-radius: 20px;
}

.icons i {
    margin: 0 10px
}




footer{
    margin-top: 2rem;
    width: 100%;
}

footer .top-footer{
    background: rgb(231, 243, 253);
    width: 100%;
    height: 300px;
    padding: 0 10%;
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.item-container{
    font-size: 1.5rem;
    display: flex;
    flex-wrap: wrap;
}

.item-container .item{
    margin-right: 2rem;
    
}

#contatti{
    width: 350px;
    background-color: #d0dbe4 ;    
    border-radius: 10px;
    padding: 2rem;
}

#contatti p{
    font-size: 1rem;
    text-align: left;

}

.sub-footer{
    background-color: #2e3133 ;
}

.sub-footer>span{
    font-size: 2rem;
    color:  #fdfeff;

}
.container-sub-footer{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;


}

.testo-sub{
    width: 80%;
    margin: auto;
    font-size: 1.5rem;
    color:  #fdfeff;
    padding-top: 30px;
    margin-bottom: 10px;
    
}

.item-sub{
    width: fit-content;
    height: fit-content;
    font-size: 1.2rem;
    border-left: 4px solid #fdfeff;
    padding: 1rem;
    border-radius: 20px;
    margin: 1rem 0;
    color:  #fdfeff;
    
}

