.imtop{
    width: 100%;
    height: 500px;
    object-fit: cover;
}

h1{
    font-weight: bold;
}

.sezione1{
    width: 80%;
    margin: auto;
    margin-top: 5%;
}

.sezione2{
    width: 80%;
    margin: auto;
    margin-top: 5%;
}

.sezione2 img{
    
}

.sezione1 h1{
    text-align: center;
}

.sezione1 p{
    margin: 2%;
}